<p>actualiza-comp works!</p>

<div class="container">

  <form class="form-group row">
    <div class="form-group col-md-3">
      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control"
        [(ngModel)]="cuadroNombre">
    </div>

    <div class="form-group col-md-3">
      <label for="apellido">Apellido:</label>
      <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="form-control"
        [(ngModel)]="cuadroApellido">
    </div>

    <div class="form-group col-md-3">
      <label for="cargo">Cargo:</label>
      <input type="text" name="cargo" id="cargo" placeholder="Cargo" class="form-control"
        [(ngModel)]="cuadroCargo">
    </div>

    <div class="form-group col-md-3">
      <label for="salario">Salario:</label>
      <input type="number" name="salario" id="salario" placeholder="Salario" class="form-control"
        [(ngModel)]="cuadroSalario" min="0">
    </div>

    <div class="col">
      <button type="submit" class="btn btn-warning" (click)="editarEmpleado()" style="margin-top: 30px; margin-right: 5px;">Editar</button>
      <button type="submit" class="btn btn-danger" (click)="eliminarEmpleado()" style="margin-top: 30px;">Eliminar</button>
    </div>
  </form>

  <div style="text-align: center;">
    <button class="btn btn-primary" (click)="irHome()">Ir a Inicio</button>
  </div>

</div>
